section{
     padding:1rem;
     width:80vw;
     margin:20px auto;
     border:1px solid #ccc;
}
h1{
      font-size: 5rem;
      text-align: center;
      /* border: 5px solid #ccc; */
}
@media screen and (max-width:750px){
       h1{
           font-size: 3.5rem;
           color:red;
       }  
       /* section{
           background-color: aqua;
       } */
}
@media screen and (max-width:520px){
    h1{
        font-size: 2rem;
        color:blue;
    }  
    section{
        background-color:lightblue;
    }
}
/* In case of landscape width>Height. and in case of portrait Height>width. */
/* @media screen and (orientation:landscape){
    h1{
        font-size:purple;
        color:black;
    }  
    section p{
        text-transform: uppercase;
    }
} */
@media screen and (max-width:720),(orientation:landscape){
    section{
        background-color:lightskyblue ;
    }
    h1{
        color:magenta;
    }
}
